/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #444;
    margin-top: 30px;
    font-size: 1.5em;
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 30px;
}

form label {
    font-weight: bold;
    color: #555;
}

form input, form select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    padding: 12px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20%;
    margin-left: 35%;
}

form button:hover {
    background-color: #45a049;
}

form input[type="number"]:focus, form select:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Mensajes de éxito y error */
.success-message {
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.error-message {
    padding: 15px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}
